.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content:space-around;
  flex-wrap: wrap;
  max-width: 1024px;
  text-align: center;
}

.card {
  border-radius: 3px;
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, .1) 0 3px 6px rgba(0, 0, 0, .07);
}

.form_field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}

.form_field input {
  width: 300px;
}

.form_field textarea {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
}

.success {
  background-color: #66bb6a
}
.info {
  background-color: #29b6f6
}
.warning {
  background-color: #ffa726
}
.error {
  background-color: #f44336
}
.primary {
  background-color: #90caf9
}
.white {
  background-color: #fff
}

.text_success {
  color: #388e3c
}
.text_info {
  color: #0288d1
}
.text_warning {
  color: #f57c00
}
.text_error {
  color: #d32f2f
}
.text_primary {
  color: #42a5f5
}
.text_white {
  color: #fff
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
