.todo_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  min-width: 340px;
}
.todo {
  display: flex;
  width: 300px;
  flex-direction: column;
  background-color: #fff;
  z-index: 1000;
  margin: 10px;
}
.todo i {
  padding: 5px 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  cursor: pointer;
}
.todo strong {
  padding: 5px 20px 10px 20px;
  text-align: left;
}
.todo span {
  padding: 0 20px 20px 20px;
  text-align: left;
}
.todo small {
  padding: 0 20px 10px 20px;
  color: #fff;
}
.todo div {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.todo div button {
  padding: 4px 20px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, .1) 0 3px 6px rgba(0, 0, 0, .07);
}